
.container-fluid
  .row-fluid
    .col-sm-4.col-sm-offset-8
      #search-bar


.container-fluid
  .row-fluid
    .col-sm-2.col-no-padding
      #sidebar
        ul
          li 
            a(href="#",data-name="all") All
          li
            a(href="#here",data-name="here") Here
    .col-sm-10.col-no-padding
      #ace-editor
.container-fluid
  .row-fluid
    .col-sm-2.col-sm-offset-10
      button.btn-md.btn-info#save-btn(onclick="saveFile()")
        i.fa.fa-floppy-o.fa-2x
        | Save

script.
  var editor;
  $(document).ready(function(){
    var editor = Todotxt.setEditor(ace.edit("ace-editor"));

    editor.getSession().setMode("ace/mode/todotxt");
    editor.setShowPrintMargin(false);
    editor.getSession().setUseWrapMode('free');

    Todotxt.getList(function(err, data){
      if (err){
        $(document).trigger("add-alerts", [
          {
            'message': "Unable to load file from Dropbox. Please try again later.",
            'priority': 'error'
          }
        ]);
        return;
      }
    }, true);
  });
    
  saveFile = function(){
    $('#save-btn').prop('disabled', true);
    Todotxt.save(function(err, data){
      
      $('#save-btn').prop('disabled', false);

      if (err){
        $(document).trigger("add-alerts", [
          {
            'message': "Error saving file: " + status,
            'priority': 'error'
          }
        ]);
        return;
      }

      if (data && data.errors && data.errors.length > 0){
        $(document).trigger("add-alerts", [
          {
            'message': data.errors[0],
            'priority': 'error'
          }
        ]);
        return;
      }

      $(document).trigger("add-alerts", [
        {
          'message': "Saved successfully.",
          'priority': 'info'
        }
      ]);
    });
  }


  
