
.container-fluid
  .row-fluid
    .col-sm-7
      h3 Todo.txt++
      p.lead A <a href = "http://todotxt.com">Todo.txt</a> web client with Dropbox integration. All code is open-source (MIT license) and available on <a href = "http://github.com/trestletech/Todo.txt">GitHub</a>. 
    .col-sm-2.col-sm-offset-1
      // We will actually offer this page to logged in users at /home, so don't always show this button
      if !username
        a(href="/login")
          button.btn-lg.btn-info#sign-up Sign Up Now!
hr

.container-fluid
  .row-fluid
    .col-md-4
      .feature
        i.fa.fa-dropbox.fa-3x.feature-icon
        .feature-text
          h3 Dropbox Integration
          p Automatically synchronize your Todo.txt file to any location in your Dropbox account. We'll pull in any update you make elsewhere in real-time.

    .col-md-4
      .feature
        i.fa.fa-share.fa-3x.feature-icon
        .feature-text
          h3 Standards Compliant
          p We play by the rules. We can understand your existing Todo.txt file and whatever changes you make here will be understood by any other Todo.txt-compliant program.

    .col-md-4
      .feature
        i.fa.fa-italic.fa-3x.feature-icon
        .feature-text
          h3 Raw Text Support
          p Sometimes you want control; we get it. Switch over to a familiar raw text view at any time to edit your todo list.