
.container-fluid
  .row-fluid
    .col-sm-4.col-sm-offset-8
      #search-bar


.container-fluid
  .row-fluid
    .col-sm-2.col-no-padding
      #sidebar
        ul
          each fil in filters
            li
              a(href="##{fil === '#All' ? '' : fil}",data-name="#{fil}")
                if (fil.substring(0,1) === '+')
                  .list-icon.list-icon-plus +
                  =fil.substring(1)
                if (fil.substring(0,1) === '@')
                  .list-icon.list-icon-at @
                  =fil.substring(1)
                if (fil.substring(0,1) === '(')
                  i.fa.fa-star-o.list-icon
                  =fil
                if (fil === '#All')
                  i.fa.fa-home.list-icon
                  | All
                  
                
                if (fil !== '#All')
                  i.fa.fa-times.delete-list-btn
          
      button.btn.center-block#create-filter(data-toggle="modal" data-target="#createModal") Create Filter
    .col-sm-10.col-no-padding
      #ace-editor
.container-fluid
  .row-fluid
    .col-sm-2.col-sm-offset-10
      button.btn.btn-primary#save-btn(onclick="saveFile()")
        | Save

script.
  var editor;
  $(document).ready(function(){
    var editor = Todotxt.setEditor(ace.edit("ace-editor"));

    editor.getSession().setMode("ace/mode/todotxt");
    editor.setShowPrintMargin(false);
    editor.getSession().setUseWrapMode('free');

    Todotxt.getList(function(err, data){
      if (err){
        $(document).trigger("add-alerts", [
          {
            'message': "Unable to load file from Dropbox. Please try again later.",
            'priority': 'error'
          }
        ]);
        return;
      }
    }, true);
  });
    
  saveFile = function(){
    $('#save-btn').prop('disabled', true);
    Todotxt.save(function(err, data){
      
      $('#save-btn').prop('disabled', false);

      if (err){
        $(document).trigger("add-alerts", [
          {
            'message': "Error saving file: " + status,
            'priority': 'error'
          }
        ]);
        return;
      }

      if (data && data.errors && data.errors.length > 0){
        $(document).trigger("add-alerts", [
          {
            'message': data.errors[0],
            'priority': 'error'
          }
        ]);
        return;
      }

      $(document).trigger("add-alerts", [
        {
          'message': "Saved successfully.",
          'priority': 'info'
        }
      ]);
    });
  }



#createModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='createModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#createModalLabel.modal-title Create New Filter
      .modal-body
        .container-fluid
          .row-fluid
            .col-sm-12
              input#create-filter-input(type="text",data-prefix="+",placeholder="+ProjectA")

          .row-fluid
            .col-sm-4.well.create-filter-option.active-filter-option(data-prefix="+",data-example="+ProjectA")
              h3.create-type-icon +
              h3 Project
              | Arrange your tasks by the project to which you've assigned them. Great for viewing one project at a time.
              
            .col-sm-4.well.create-filter-option(data-prefix="@",data-example="@Phone")
              h3.create-type-icon @
              h3 Context
              | View your tasks by context to see what you can work on right 
              i now
              | .
              
            .col-sm-4.well.create-filter-option(data-prefix="(",data-example="(A)")
              h3.create-type-icon (A)
              h3 Priority
              | Keep an eye on your most important tasks. Filter based on the priority you assigned to a task.

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        button.btn.btn-primary#create-filter-ok(type='button') Create


#deleteFilter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteLabel', aria-hidden='true')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#deleteLabel.modal-title Delete Filter
      .modal-body
        | Are you sure you want to delete the filter "
        code#delete-list-name
        | "?
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        button.btn.btn-primary#delete-filter-btn(type='button') Yes, Delete it
