
.container-fluid
  .row-fluid
    .col-md-4
      img(src="/images/todotxtpp.png")
    .col-md-5
      h3.no-top Todo.txt++
      p.lead An online todo list manager based on the <a href = "http://todotxt.com">Todo.txt</a> format &mdash; complete with with Dropbox integration. If you keep your todos in a text file, you've already finished the hardest part. 
      p.lead All code is open-source (MIT license) and available on <a href = "http://github.com/trestletech/Todo.txt">GitHub</a>. 
    .col-md-3
      // We will actually offer this page to logged in users at /home, so don't always show this button
      if !username
        a(href="/login")
          button.btn-lg.btn-info#sign-up Get Started Now!
      else
        a(href="/")
          button.btn-lg.btn-info#sign-up View My Todos
hr

.container-fluid
  .row-fluid
    .col-md-4
      .feature
        i.fa.fa-dropbox.fa-3x.feature-icon
        .feature-text
          h3 Dropbox Integration
          p Automatically synchronize your Todo.txt file to any location in your Dropbox account. We'll pull in any update you make elsewhere in real-time.

    .col-md-4
      .feature
        i.fa.fa-share.fa-3x.feature-icon
        .feature-text
          h3 Standards Compliant
          p We play by <a href = "https://github.com/ginatrapani/todo.txt-cli/wiki/The-Todo.txt-Format">the rules</a>. We can understand your existing Todo.txt file and whatever changes you make here will be understood by any other Todo.txt-compliant program.

    .col-md-4
      .feature
        i.fa.fa-italic.fa-3x.feature-icon
        .feature-text
          h3 Raw Text Support
          p Sometimes you want control; we get it. Switch over to a familiar raw text view at any time to edit your todo list. We even have Todo.txt syntax highlighting.