
.container-fluid
  .row-fluid
    .col-sm-12
      #ace-editor
.container-fluid
  .row-fluid
    .col-sm-2.col-sm-offset-10
      button.btn-md.btn-info#save-btn(onclick="saveFile()")
        i.fa.fa-floppy-o.fa-2x
        | Save

script.
  var modified = false;

  window.onbeforeunload = function(){
    if (modified){
      return 'You have changes that have not yet been saved to Dropbox. If you leave, any unsaved changes will be lost.';
    }
    return;
  }

  var editor;
  $(document).ready(function(){
    editor = ace.edit("ace-editor");

    editor.getSession().setMode("ace/mode/todotxt");
    editor.setShowPrintMargin(false);
    editor.getSession().setUseWrapMode('free');


    $.ajax('/list')
    .done(function(data){
      editor.setValue(data, -1);
      editor.getSession().on('change', function(e) {
        modified=true;
      });
    })
    .fail(function(xhr, status){
      $(document).trigger("add-alerts", [
        {
          'message': "Unable to load file from Dropbox. Please try again later.",
          'priority': 'error'
        }
      ]);
    });
  });

  saveFile = function(){
    $('#save-btn').prop('disabled', true);
    $.ajax('/list', {
      type: 'POST', 
      data : {
        text: editor.getSession().getValue() 
      }
    })
    .fail(function(xhr, status, err){
      $(document).trigger("add-alerts", [
        {
          'message': "Error saving file: " + status,
          'priority': 'error'
        }
      ]);
    })
    .done(function(){
      modified = false;
      $(document).trigger("add-alerts", [
        {
          'message': "Saved successfully.",
          'priority': 'info'
        }
      ]);
    })
    .always(function(){
      $('#save-btn').prop('disabled', false);
    })
  }


  
