
.container-fluid
  .row-fluid
    .col-md-4
      img(src="/images/todotxtpp.png")
    .col-md-5
      h3.no-top Todo.txt++
      p.lead An online todo list manager based on the <a href = "http://todotxt.com">Todo.txt</a> format &mdash; complete with with Dropbox integration. If you keep your todos in a text file, you've already finished the hardest part. 
      p.lead All code is open-source (MIT license) and available on <a href = "http://github.com/trestletech/todotxtpp">GitHub</a>. 
    .col-md-3
      // We will actually offer this page to logged in users at /home, so don't always show this button
      if !username
        a(href="/login")
          button.btn-lg.btn-info#sign-up Get Started Now!
      else
        a(href="/")
          button.btn-lg.btn-info#sign-up View My Todos
hr

.container-fluid
  .row-fluid
    .col-md-4
      .feature
        i.fa.fa-dropbox.fa-3x.feature-icon
        .feature-text
          h3 Dropbox Integration
          p Automatically synchronize your Todo.txt file to any location in your Dropbox account. We'll pull in any update you make elsewhere in real-time.

    .col-md-4
      .feature
        i.fa.fa-share.fa-3x.feature-icon
        .feature-text
          h3 Standards Compliant
          p We play by <a href = "https://github.com/ginatrapani/todo.txt-cli/wiki/The-Todo.txt-Format">the rules</a>. We can understand your existing Todo.txt file and whatever changes you make here will be understood by any other Todo.txt-compliant program.

    .col-md-4
      .feature
        i.fa.fa-filter.fa-3x.feature-icon
        .feature-text
          h3 Filters
          p Search and refine your todo list by project, context, keyword, or priority. You can keep a list of your favorite filters in the sidebar so they'll always be one click away.

.container-fluid
  .row-fluid
    .col-md-4
      .feature
        i.fa.fa-code.fa-3x.feature-icon
        .feature-text
          h3 Open Source
          p Go ahead &mdash; grab the code <a href ="https://github.com/trestletech/todotxtpp">from GitHub</a>. Download it, fork it, patch it, whatever. It's all yours under <a href ="https://github.com/trestletech/todotxtpp/blob/master/LICENSE">the MIT license</a>. Do something interesting? Send us a pull request!

    .col-md-4
      .feature
        i.fa.fa-mobile.fa-3x.feature-icon
        .feature-text
          h3 Mobile Device Support
          p We use a responsive layout to give you a comfortable experience whether you're on a phone, tablet, or full-size screen. Access your todos through a familiar interface wherever you are.
    
    .col-md-4
      .feature
        i.fa.fa-italic.fa-3x.feature-icon
        .feature-text
          h3 Raw Text Support
          p Sometimes you want control; we get it. Switch over to a familiar raw text view at any time to edit your todo list. We even have Todo.txt syntax highlighting.

  //
    .col-md-4
      .feature
        i.fa.fa-sort-amount-asc.fa-3x.feature-icon
        .feature-text
          h3 Sorting
          p Sort your todos alphabetically, by due date, by priority, or in a number of other ways to find the important ones quickly.