#footer {
  margin-top: 2em;
  padding-top: .5em;
  border-top: 1px solid #CCC;
  text-align: center;
}

#sign-up {
  margin-top: 1.5em;
}

#choose-file {
  font-size: 24px;
  text-align: left;
  margin-top: 3.2em;  
}

button i {
  float: left;
  display: block;
  padding-right: 12px;
}

.feature-icon {
  color: #75caeb;
  float: left;
  padding-top: 12px;
  width: 55px;
  text-align: center;
}

#save-btn{
  font-size: 18px;
  width: 100px;
  margin-top: .5em;
}

.feature, .feature-text, #btn-save {
  display: block;
  overflow: hidden;
}

.feature-text h3 {
  margin-top: 0;
}

#ace-editor {
  height: 300px;
  border: 1px solid #CCC;
}
