#footer {
  margin-top: 2em;
  padding-top: .5em;
  border-top: 1px solid #CCC;
  text-align: center;
}

#sign-up {
  margin-top: 3.5em;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#choose-file {
  font-size: 24px;
  text-align: left;
  margin-top: 3.2em;  
  width: 100%;
}

button i {
  float: left;
  display: block;
  padding-right: 12px;
}

.feature-icon {
  color: #75caeb;
  float: left;
  padding-top: 12px;
  width: 55px;
  text-align: center;
}

#save-btn{
  font-size: 18px;
  width: 100px;
  margin-top: .5em;
}

.feature, .feature-text, #btn-save {
  display: block;
  overflow: hidden;
}

.feature-text h3 {
  margin-top: 0;
}

#ace-editor {
  height: 300px;
  border: 1px solid #CCC;
}

.navbar-brand img {
  float: left;  
  width: 32px;
  height: 32px;
  margin: -5px 8px 0 -5px;
}

.no-top {
  margin-top: 0;
}

#search-input{
  border: none;
  margin-left: 6px;
  line-height: 16px;
}

#search-input:focus {
  outline: 0;
}

#search-form {
  margin-top: 3px;
  border: 1px solid #AAA;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #FFF;
  line-height: 28px;
}

#search-btn-container {
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #DDD;
  display: inline-block;
  float: right;
  cursor: pointer;
  cursor: hand;
}

#search-btn{
  border: none;
  border-left: 1px solid #AAA;  
  background-color: #DDD;
  height: 28px;
  margin-right: 6px;
  display: inline-block;
  padding: 0;
  float: right;
}

#search-btn i {
  padding-right: 5px;
  padding-left: 7px;
}

#sidebar {
  border: 1px solid #AAA;
  border-bottom: none;
  margin-bottom: 5px;
}

#sidebar ul
{
  list-style-type:none;
  margin:0;
  padding:0;
}

#sidebar a {
  display:block;
  background-color: #E3E3E3;
  border-bottom: 1px solid #AAA;
  padding: 5px;
  color: #555;
}

#sidebar a:hover, #sidebar a.active{
  text-decoration: none;
  background-color: #EFF5F9;
}

.col-no-padding {
   padding-left: 5px !important;
   padding-right: 5px !important;
   margin: 0 !important;
}

#clear-search{
  display: inline-block;
  margin: 0 5px 0 3px;
  cursor: pointer;
  cursor: hand;
  color: #AAA;
}

.list-icon {
  display: inline-block;
  min-width: 28px;
  text-align: center;
  font-size: 20px;
  height: 15px;  
}

.list-icon-plus {
  font-size: 26px;
  font-weight: 600;
  line-height: 15px;
  vertical-align: bottom;
  margin-bottom: 3px;
}

.list-icon-at {
  font-size: 18px;
  line-height: 15px;
  vertical-align: middle;
  margin-bottom: 2px;
}

#sidebar li:hover .delete-list-btn {
  visibility: visible;
}

.delete-list-btn {
  float: right;
  padding-top: 2px;
  cursor: pointer;
  cursor: hand;
  color: #DAB;
  font-size: 16px;
  display: none;
  visibility: hidden;
}

.delete-list-btn:hover {
  color: #F68;
}